<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <p>
        <strong>name:</strong>
          <%= @user.name%>
      </p>
      <p>
      <strong>introduction:</strong>
        <%= @user.introduction%>
      </p>
      <a class="btn btn-outline-secondary btn-block edit_user_36211" href="/users/36211/edit">
        <i class="fas fa-user-cog"></i>
      </a>
      <%= form_with model: @book do |f| %>
        <div class="field">
        <label>Title</label>
          <%= f.text_field :title %>
        </div>
        <div class="field">
        <label>Opinion</label>
          <%= f.text_area :body %>
        </div>
        <div class="actions">
          <%= f.submit 'Create Book'%>
        </div>  
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">image</th>
            <th scope="col">name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= image_tag 'no_image.jpg' %></td>
            <td><%= @user.name%></td>
            <td><%= link_to "Show", "/users/#{user.id}" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
</div>
